body {
    margin: 0%;
    max-width: 100vw;
    max-height: 100vh;
    display: grid;
    grid-template: 15fr 75fr / 15fr 75fr;
    background-color: #151515;
    overflow: hidden;
    font-size: 1rem;
    color: #D9D9D9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 89%;
}

.side-bar {
    grid-row: 1/3;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 90%;
    height: 100vh;
}

.side-bar-field {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 10%;
    padding-top: 5%;
    font-size: larger;
}

.side-bar-field:nth-child(1) {
    margin-bottom: 15%;
    padding-left: 7%;
}

.side-bar-field:nth-child(1)>p {
    padding-left: 5%;
    font-size: large;
    font-weight: bolder;
}

.side-bar-field:nth-child(8) {
    margin-top: 20%;
}

.side-bar > div > p {
padding-left: 4%;
}

.header {
    grid-column: 2/5;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border-top-right-radius: 0;
    height: 90%;
}

.header-1 {
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    margin-top: 1%;
    align-items: center;
}

.header-2 {
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    align-items: center;
    padding-bottom: 1%;
}

.header-2-button-area {
    padding: 2%;
}

.header-button {
    padding: 10px 30px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 20px;
}

.content-area {
    background-color: #151515;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.main-cards {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 30% 30% / 1fr 1fr 1fr;
    gap: 15px;
    overflow: hidden;
    margin-right: 2%;
}

.card {
    background-color: #363636;
    color: #D9D9D9;
    border-radius: 15px;
    padding: 5%;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.card-icons > img {
    padding-left: 3%;
}

.side-cards {
    width: 20%;
    height: 65%;
    gap: 20px;
    color: #D9D9D9;
    display: flex;
    flex-direction: column;
}

.side-card {
    border: none;
    border-radius: 15px;
    background-color: #363636;
    margin-right: 10%;
    font-size: 75%;
    padding: 6%;
}

.side-card-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4%;
    font-size: 100%;
}

p {
    margin: 0;
}