body {
    margin: 0%;
    display: grid;
    grid-template: 20fr 80fr / 15fr 75fr;
    background-color: #151515;
}

#side-bar {
    grid-row: 1/3;
    background-color: #F1DFDE;
    display: flex;
    flex-direction: column;
}

.side-bar-field {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 10%;
}

.side-bar-field:nth-child(1) {
    margin-bottom: 10%;
    padding-left: 7%;
}

.side-bar-field:nth-child(1) > p {
    padding-left: 5%;
    font-size: large;
    font-weight: bolder;
}

.side-bar-field:nth-child(8) {
    margin-top: 10%;
}

#header {
    grid-column: 2/5;
    background-color: #363636;
}

#content-area {
    background-color: #151515;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr 0.7fr;
}

.card {
    background-color: #C0DEDD;
    border: 1px solid red;
}

.side-cards {
    background-color: #E6DFF1;
    grid-column: 3/4;
    grid-row: 1/4;
    display: grid;
}

.side-card-1 {
    border: 1px solid blue;
}

.side-card-2 {
    border: 1px solid blue;
}

p {
    font-size: 80%;
    font-weight: bold;
    padding-left: 10%;
}